@charset "UTF-8";

#champEdit{
	width:300px;
	min-height:200px;
	background-color:#FFC;
	border:solid 1px #666;
	margin:10px 0;
	}
	
#zoneW{
	width:400px;
	height:400px;
	padding-left:120px;
	}
	
#recup{
	background-color:#eee;
		height:200px;
		
		}
a{
	color:#FF0;
	}